<header id="header" data-template="stage-header">
  <div id="header-inner">
    <div class="container container-pod container-pod-short">
      <h1 class="header-logo">
        <a href="/" rel="nofollow"></a>
      </h1>
    </div>

  </div>
</header>
<div id="container" class="clearfix">
  <div class="container container-pod shorten-container">
    <h1 class="page-title t-center">THE LINK KNOWS ALL. SO CAN YOU.</h1>
    <div class="join-bitly t-center">Own your links with Bitly, the world’s leading customer experience platform.</div>
    <div id="form_container" class="t-center mid-container foot-room">
      <form method="POST" action="/" name="shortenUrl" id="unAuthShortenForm">
        <fieldset class="cf">
          <input id="shorten_url" taborder="1" name="url" type="text" class="shorten-input" placeholder="Paste a link to shorten it"
            value="" ng-model="vm.newLink">
          <input id="shorten_btn" type="button" class="button button-primary button-large shorten-button" value="Shorten" ng-click="vm.addNewLink()">
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="col-md-8 col-md-offset-2">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Original Link</th>
          <th>Short Link</th>
          <th>Views</th>
          <th>#</th>          
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="link in vm.links" ng-mouseleave="link.over=false" ng-mouseover="link.over=true">
          <td>
            <div ng-if="!link.isEditMode" ng-click="vm.startEditMode(link)">{{link.originalLink}}</div>
            <input type="text" ng-if="link.isEditMode" ng-model="link.originalLink" ng-blur="vm.stopEditMode(link)" class="form-control"
              focus-me="{{link.isEditMode}}" />
          </td>
          <td>
            <a ng-href="{{vm.baseUrl}}/{{link.shortLink}}">
              {{vm.baseUrl}}/{{link.shortLink}}
            </a>
          </td>
          <td>{{link.views}}</td>
          <th scope="row">
            <button ng-if="link.over" class="btn btn-danger btn-sm" ng-click="vm.del(link)"><span class="glyphicon glyphicon-trash"></span></button>  
          </th>          
        </tr>
      </tbody>
    </table>
  </div>
</div>