<html ng-app="bitly">
	<head>
		<title>The MEAN stack</title>
    	<script src="assers/js/angular/angular.js"></script>
        <script src="assers/js/angular/angular-route.min.js"
        <script src="assets/js/app.js"></script>
	</head>
    <body>
        <h1>hello world</h1>
        </body>
</html>